@import url(public/base.css);		/*基础样式*/
@import url(public/m-header.css);	/*头部*/
@import url(public/m-footer.css);	/*页面底部*/

html,body{
	background: #FFF;
}

/*成功提示*/
.errorTips {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.errorTips a{
	position: absolute;
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #c71622;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	right: 180px;
	top: 240px;
}
.errorTips a:hover{
	background: #b40000;
}
/*其它商品*/
.eavlProducts { width: 100%; overflow: hidden; margin-bottom: 100px;}
.eavlProducts h2 { border-bottom: 1px solid #ddd; font-size: 12px; line-height: 30px;}
.eavlProducts li { width: 20%; padding: 30px 0px; overflow: hidden; float: left;}
.eavlProducts li p { width: 200px; overflow: hidden; margin: 0px auto; text-align: center;}
.eavlProducts li img { width: 198px; height: 198px; border: 1px solid #f4f4f4; margin-bottom: 10px;}
.eavlProducts li .eval a { width: 100px; height: 30px; line-height: 30px; border-radius: 3px; margin: 15px auto; text-align: center; color: #fff; background: #c71622; display: block;}
.eavlProducts li .eval a:hover { background:#b70612; }


/*样式重定义*/
.m-header .container{
    border-bottom: 1px solid #ddd;
}

.m-footer { border: none;}