@import url(public/base.css);		/*基础样式*/
@import url(public/m-header.css);	/*头部*/
@import url(public/m-nav.css);		/*导航*/
@import url(public/m-home-slider.css);	/*个人中心左侧导航*/
@import url(plugins/p-select.css);	/*自定义下拉列表*/
@import url(plugins/p-pop.css);	/*弹窗样式*/
@import url(public/m-cartlist.css);	/*右侧工具栏*/
@import url(public/m-pagebar.css);	/*分页条*/
@import url(public/m-footer.css);	/*页面底部*/
	/*右侧工具栏*/

html,body{
	background: #f5f5f5;
}

.main{
	margin: 30px 0 40px 0;
}
.main .container{
	width: 1000px;
}
.main .contents{
	width: 808px;
	background: #fff;
	border: 1px solid #ddd;
	margin-left: 10px;
	padding: 0 25px;
}

.main .contents .categorys{
	
	height: 46px;
	border-bottom: 2px solid #e5e5e5;

}
.main .contents .categorys li{
	float: left;
	height: 46px;
	line-height: 46px;
	border-bottom: 2px solid #e5e5e5;
}
.main .contents .categorys li a{
	padding: 0 30px;
	border-right: 1px solid #ccc;
}
.main .contents .categorys li a em{
	font-size: 12px;
	color: #c71622;
	font-weight: bold;
	margin-left: 5px;
}
.main .contents .categorys li.select{
	border-color: #c71622;
}
.main .contents .categorys li.select a{
	color: #c71622;
	font-weight: bold;
}
.main .contents .categorys li:hover a{
	color: #c71622;
}
.main .contents .m-cartList .nothing{
	padding: 50px 0;
	height: 40px;
}
.main .contents .m-cartList .nothing .cnt{
	width: 300px;
	margin-left: 300px;
	padding-left: 70px;
	background: url('../img/public/i-1041.jpg') no-repeat center left ;
}
.main .contents .m-cartList .nothing .cnt .title{
	color: #333;
	font-size: 16px;
}
.main .contents .m-cartList .nothing .cnt .subtitle{
	font-size: 12px;
	color: #999;
}
.main .contents .m-cartList .nothing .cnt .subtitle a{
	color: #40c0ff;
}
.main .contents .m-cartList .nothing .cnt .subtitle a:hover{
	text-decoration: underline;
}