@import url(public/base.css);		/*基础样式*/
@import url(public/m-header.css);	/*头部*/
@import url(public/m-nav.css);		/*导航*/

@import url(public/m-footer.css);	/*页面底部*/


html,body{
	background: #fff;
	font-family: "microsoft Yahei";
}
.main .container{
	margin-bottom: 50px;
}
.main .container h2{
	margin-top: 30px;
	font-weight: bold;

}
.main .container .note1{
	font-size: 12px;
	color: #333;
	margin: 20px 0;
	clear: both;
}
.main .container .note1 h3{
	font-size: 14px;
	font-weight: bold;
}

.main .container .ui-btns{
	margin-top: 50px;
	text-align: center;
}

.main .container .ui-btns a{
	display: inline-block;
	width: 80px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
	margin: 0 30px;
	border-radius: 4px;
}
.main .container .ui-btns a.agree{
	background: #3a0;
	color: #fff;
}
