@import url(public/base.css);       /* 基础样式 */
@import url(public/m-header.css);   /* 头部 */
@import url(public/m-nav.css);      /* 导航 */

@import url(public/m-footer.css);   /* 页面底部 */

.main{
	padding: 30px 0;
}
.main h2{
	font-size: 18px;
	text-align: center;
	color: #333;
	margin-bottom: 30px;
}
.main .container{
	padding: 30px 0;
	background: #fff;
	box-shadow: 0px 0px 6px #ccc;
}
.main .cnt{
	width: 1120px;
	margin: 0 auto;
}
.main h3{
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}
.main p{
	color: #666;
	font-size: 12px;
	text-indent: 24px;
	line-height: 24px;
}

.main .ui-btns{
	margin-top: 40px;
	text-align: center;
}
.main .ui-btns a{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
}
.main .ui-btns a:hover{
	color: #c71622;
}
.main .ui-btns .agree{
	background: #3a0;
	color: #fff;
}
.main .ui-btns .agree:hover{
	background: #229900;
	color: #fff;
};